.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form__addContent {
  width: 80%;
  margin: 10px 20px;
}

@media (max-width: 764px) {
  .form{padding: 10px;}
  .form__addContent {
    width: 100%;
    margin: 10px 0;
  }
}

.form__addTaskButton {
  background-color: cadetblue;
  color: white;
  border-radius: 3px;
  padding: 2px;
}

.form__addTaskButton:hover {
  background-color: rgba(95, 158, 160, 0.691);
}
.form__addTaskButton:active {
  background-color: rgba(95, 158, 160, 0.281);
}
