.toDo__header {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(163, 162, 162);
}

.toDo__body {
  background-color: white;
  max-width: 90%;
  margin: 30px auto;
  padding: 30px;
}

@media (max-width: 764px) {
  .toDo__body {
    padding: 0;
    margin: 10px auto;
  }
  
  .form__addContent {
    width: 100%;
    margin: 10px 0;
  }
  .form__addTaskButton {
    width: 100%;
  }
}

.btn-importantTask:hover {
  background-color: red;
  color: white;
}
.btn-importantTask:hover .fa-exclamation {
  color: white;
}

.important .taskContent {
  border: 2px solid red;
}

.important .btn-importantTask {
  color: white;
  background-color: red;
}

.important .btn-importantTask .fa-exclamation {
  color: white;
}
